@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;700&display=swap');
@import 'customVars';
@import 'bootstrap/scss/bootstrap.scss';

// global styles
body {
  font-family: 'Roboto Slab', serif;
  font-size: 18px !important;
}

.text-black {
  color: #000;
}

.app-shadow {
  box-shadow: $app-shadow;
}

.rounded-30,
.rounded-60 {
  overflow: hidden;
}
.rounded-30 {
  border-radius: 30px;
}
.rounded-60 {
  border-radius: 60px;
}

.app-color {
  color: $app-color;
}
.app-secondary-color {
  color: $app-secondary-color;
}
a.app-color:hover {
  color: $app-color;
  // text-decoration: none;
}
.el-bg-color {
  background-color: $app-color;
}
.app-bg-color {
  background-color: $bg-color;
}

.app-blur {
  filter: blur(20px);
  background-color: rgba(#000, 0.1);
}

.font-size-18 {
  font-size: 1.125rem;
}
.font-size-22 {
  font-size: 1.375rem;
}
.blur-effect {
  backdrop-filter: blur(20px);
  background: rgba(#f8f8f8, 0.3);
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: -100;
}

a {
  color: #000;
  transition: color 0.1s ease-in-out;
  &:hover {
    text-decoration: none !important;
    color: $app-color;
  }
}
